.comp-bubble {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-left: 90px;
    margin-right: 40px;
    width: calc(100% - 130px);
    position: relative;
}

.comp-bubble.true {
    flex-direction: row;
    margin-left: 40px;
    margin-right: 90px;
}

.comp-bubble .inner-bubble {
    background-color: var(--button-bg-color);
    color: var(--leftbar-text-color);
    padding: 32px;
    width: 100%;
    border-radius: 16px 16px 0 16px;
}

.comp-bubble.true .inner-bubble {
    background-color: var(--bot-bubble-bg-color);
    color: var(--text-color);
    border-radius: 16px 16px 16px 0;
    font-size: var(--text-size-16);
    line-height: 150%;
}

.comp-bubble svg {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 9999px;
    color: var(--text-color);
    color: var(--button-bg-color);
    background-color: var(--bot-bubble-bg-color);
    height: fit-content;
}

.comp-bubble.true svg {
    color: var(--text-color);
}

.comp-bubble .help-text{
    position: absolute;
    right: 0;
    bottom: calc(var(--text-size-16) * -2);
    color: var(--search-text-color);
    font-size: var(--text-size-12);
}

.comp-bubble .help-text button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}
.comp-bubble .help-text button:hover{
    background-color: var(--rightbar-bg-color);
}
.comp-bubble .help-text button:active{
    background-color: var(--bot-bubble-bg-color);
}