.comp-button {
    border-radius: 8px;
    background: var(--button-bg-color);
    color:var(--leftbar-text-color);
    padding: 6px 24px;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}