.comp-chat{
    color: var(--text-color);
    flex-grow: 1;
    display: flex;
    gap: 40px;
    flex-direction: column;
    height: calc(100vh - 140px);
    overflow: auto;
    position: relative;
    padding-bottom: 140px;
}