.comp-rightbar{
    background-color: var(--rightbar-bg-color);
    color: var(--text-color);
    min-width: calc(300px - 48px);
    max-width: calc(300px - 48px);
    padding: 16px 24px;
    position: relative;
    transition: min-width 300ms ease-in-out 0s, max-width 300ms ease-in-out 0s, padding 300ms ease-in-out 0s;
    
}
.comp-rightbar.open{
    min-width: 0;
    max-width: 0;
    padding: 16px 0;
}
.comp-rightbar .title{
    font-size: var(--text-size-24);
    font-weight: 600;
    margin-bottom: 32px;
}
.comp-rightbar .indicator{
    position: absolute;
    top: calc(50% - 20px);
    left: -12px;
    width: 6px;
    height: 40px;
    border-radius: 9999px;
    cursor: pointer;
    background-color: var(--rightbar-input-border-color);
}
.comp-rightbar .indicator:hover{
    background-color: var(--search-text-color);
}