.comp-rightbar{
    background-color: var(--rightbar-bg-color);
    color: var(--text-color);
    min-width: calc(300px - 48px);
    max-width: calc(300px - 48px);
    padding: 16px 24px;
}
.comp-rightbar .title{
    font-size: var(--text-size-24);
    font-weight: 600;
    margin-bottom: 32px;
}